<!doctype html>
</head>
<title>Admin View</title>
<p><h1><b> Admin </b></h1></p>
<hr size= "2" color="#dddddd" width="100%" align="center">
<body>
	<div class="container" align="left">
    	<h3>Transactions </h3>
    	<hr size= "2" color="#dddddd" width="100%" align="center">
    	<a href="/verify/" target="blank"><button class='btn btn-default'>Verify Transactions</button></a>
    	<a href="/view_transactions/" target="blank"><button class='btn btn-default'>Transactions Pending Verification</button></a>
    	<hr size= "2" color="#dddddd" width="100%" align="center">
	</div>
	<div class="container" align="left">
		<h3> Master Ledger </h3>
		<hr size= "2" color="#dddddd" width="100%" align="center">
		<a href="/display_ledger/" target="blank"><button class='btn btn-default'> View Ledger </button></a>
		<a href="/publish_ledger/" target="blank"><button class='btn btn-default'> Publish Ledger</button></a>
		<hr size= "2" color="#dddddd" width="100%" align="center">
	</div>
	<div class="container" align="left">
		<h3> Users </h3>
		<hr size= "2" color="#dddddd" width="100%" align="center">
		<a href="/view_users/" target="blank"><button class='btn btn-default'> Show All Users </button></a>
		<hr size= "2" color="#dddddd" width="100%" align="center">
	</div>
	<div class="container" align="left">
		<a href="/" target="blank"><button class='btn btn-default'> Logout </button></a>
	</div>
</body>